.products {
  background: #0c0f1c;
  overflow-x: hidden;
  .enProducts {
    * {
      z-index: 8;
      position: relative;
    }
    .topDiv {
      padding: 0px 260px;
      margin-bottom: 180px;
      position: relative;
      padding-top: 250px;

      &::before {
        content: "";
        width: 864px;
        height: 864px;
        display: inline-block;
        position: absolute;
        left: -500px;
        bottom: -300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #ffffff;
      }
      h1 {
        max-width: 600px;
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        color: #ffffff;
        margin-top: 37px;
        margin-bottom: 47px;
      }
      p {
        max-width: 664px;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 45px;

        color: #ffffff;
      }
    }
    .lineDiv {
      margin-bottom: 200px;
      &::before {
        content: "";
        width: 675px;
        height: 675px;
        display: inline-block;
        position: absolute;
        right: 100px;
        bottom: 300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
    }
    section {
      height: 100vh;
      background: #0c0f1c;
      min-height: 800px;
    }
    .homeProduct1 {
      padding-left: 260px;
      .texts {
        h2 {
          font-weight: 700;
          font-size: 80px;
          line-height: 98px;
          color: #ffffff;
          padding-left: 25px;
          margin-bottom: 38px;
          border-left: 7px solid #027cd8;
          span {
            color: #027cd8;
          }
        }
        p {
          max-width: 424px;
          font-weight: 500;
          font-size: 16px;
          line-height: 35px;

          color: #ffffff;
          margin-bottom: 38px;
        }
      }
      img {
        width: 55%;
      }
    }
    .homeProduct2 {
      padding-left: 260px;
      .texts {
        h2 {
          font-weight: 700;
          font-size: 80px;
          line-height: 98px;
          color: #ffffff;
          padding-left: 25px;
          margin-bottom: 38px;
          border-left: 7px solid #763dff;
          span {
            color: #763dff;
          }
        }
        p {
          max-width: 424px;
          font-weight: 500;
          font-size: 16px;
          line-height: 35px;

          color: #ffffff;
          margin-bottom: 38px;
        }
      }
      img {
        width: 60%;
      }
    }
    .homeProduct3 {
      padding-left: 260px;
      .texts {
        h2 {
          font-weight: 700;
          font-size: 80px;
          line-height: 98px;
          color: #ffffff;
          padding-left: 25px;
          margin-bottom: 38px;
          border-left: 7px solid #009f83;
          span {
            color: #009f83;
          }
        }
        p {
          max-width: 424px;
          font-weight: 500;
          font-size: 16px;
          line-height: 35px;

          color: #ffffff;
          margin-bottom: 38px;
        }
      }
      img {
        width: 55%;
      }
    }
    .homeProduct4 {
      padding-left: 260px;
      margin-top: 200px;
      margin-bottom: 420px;
      .texts {
        h2 {
          font-weight: 700;
          font-size: 80px;
          line-height: 98px;
          color: #ffffff;
          padding-left: 25px;
          margin-bottom: 38px;
          max-width: 400px;
          border-left: 7px solid #00f0ff;
          span {
            color: #00f0ff;
          }
        }
        p {
          max-width: 424px;
          font-weight: 500;
          font-size: 16px;
          line-height: 35px;

          color: #ffffff;
          margin-bottom: 38px;
        }
      }
      img {
        width: 55%;
      }
    }
  }
  .faProducts {
    overflow: hidden;
    * {
      z-index: 8;
      position: relative;
      direction: rtl;
      text-align: right;
    }
    .topDiv {
      padding: 0px 260px;
      margin-bottom: 180px;
      position: relative;
      padding-top: 250px;

      &::before {
        content: "";
        width: 864px;
        height: 864px;
        display: inline-block;
        position: absolute;
        right: -200px;
        bottom: -300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #ffffff;
      }
      h1 {
        max-width: 750px;
        font-style: normal;
        font-weight: 300;
        font-size: 38px;
        line-height: 98px;
        color: #ffffff;
        margin-top: 37px;
        margin-bottom: 47px;
      }
      p {
        max-width: 664px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;

        color: #ffffff;
      }
    }
    .scroll {
      padding: 0px 260px;
      margin-bottom: 50px;
      .scrollTitle {
        font-weight: 400;
        font-size: 15px;
        color: #ffffff;
      }
      .scrollIcon {
        border-radius: 30px;
        border: 1px solid #ffffff;
        height: 50px;
        width: 28px;
        margin-left: 12px;
        padding: 0px 10px;
        .scrollCircle {
          display: inline-block;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background-color: white;
        }
      }
    }
    .lineDiv {
      margin-bottom: 200px;
      &::before {
        content: "";
        width: 675px;
        height: 675px;
        display: inline-block;
        position: absolute;
        left: 100px;
        bottom: 250px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
    }
    section {
      height: 100vh;
      background: #0c0f1c;
      min-height: 800px;
    }
    .homeProduct1 {
      padding-right: 260px;
      .texts {
        h2 {
          font-weight: 700;
          max-width: 420px;
          font-size: 38px;
          line-height: 98px;
          color: #ffffff;
          padding-right: 25px;
          margin-bottom: 38px;
          border-right: 7px solid #027cd8;
          span {
            color: #027cd8;
          }
        }
        p {
          max-width: 378px;
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;

          color: #ffffff;
          margin-bottom: 38px;
        }
      }
      img {
        width: 55%;
      }
    }
    .homeProduct2 {
      padding-right: 260px;
      .texts {
        h2 {
          font-weight: 700;
          max-width: 420px;
          font-size: 38px;
          line-height: 98px;
          color: #ffffff;
          padding-right: 25px;
          margin-bottom: 38px;
          border-right: 7px solid #763dff;
          span {
            color: #763dff;
          }
        }
        p {
          max-width: 378px;
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;

          color: #ffffff;
          margin-bottom: 38px;
        }
      }
      img {
        width: 60%;
      }
    }
    .homeProduct3 {
      padding-right: 260px;
      margin-bottom: 100px;
      .texts {
        h2 {
          font-weight: 700;
          max-width: 420px;
          font-size: 38px;
          line-height: 98px;
          color: #ffffff;
          padding-right: 25px;
          margin-bottom: 38px;
          border-right: 7px solid #009f83;
          span {
            color: #009f83;
          }
        }
        p {
          max-width: 378px;
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;

          color: #ffffff;
          margin-bottom: 38px;
        }
      }
      img {
        width: 55%;
      }
    }
  }
}
@media only screen and (max-width: 1679px) {
  .products {
    .enProducts {
      .topDiv {
        padding: 250px 100px 0px 100px;
      }
      .homeProduct1,
      .homeProduct2,
      .homeProduct3,
      .homeProduct4 {
        padding-left: 100px;
      }
    }
    .faProducts {
      .topDiv {
        padding: 250px 100px 0px 100px;
      }
      .scroll {
        padding: 0px 100px;
      }
      .homeProduct1,
      .homeProduct2,
      .homeProduct3,
      .homeProduct4 {
        padding-right: 100px;
      }
    }
  }
}
@media only screen and (max-width: 1384px) {
  .products {
    .enProducts {
      .lineDiv {
        &::before {
          display: none;
        }
      }
      .homeProduct1,
      .homeProduct2,
      .homeProduct3,
      .homeProduct4 {
        margin-bottom: 100px;
      }
    }
    .faProducts {
      .lineDiv {
        &::before {
          display: none;
        }
      }
      .homeProduct1,
      .homeProduct2,
      .homeProduct3,
      .homeProduct4 {
        margin-bottom: 100px;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .products {
    .enProducts {
      .topDiv {
        padding: 170px 50px 0px 50px;
        margin-bottom: 100px;
        h3 {
          font-size: 20px;
        }
        h1 {
          font-size: 20px;
          margin: 30px 0px;
          line-height: 35px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .homeProduct1,
      .homeProduct2,
      .homeProduct3,
      .homeProduct4 {
        padding-left: 20px;
        flex-direction: column;
        justify-content: center !important;
        align-items: end !important;
        min-height: 100vh;
        margin: 0px;
        .texts {
          max-width: 100%;
          h2 {
            font-size: 20px;
            line-height: 35px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
    .faProducts {
      .topDiv {
        padding: 170px 50px 0px 50px;
        margin-bottom: 100px;
        h3 {
          font-size: 20px;
        }
        h1 {
          font-size: 20px;
          margin: 30px 0px;
          line-height: 35px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .scroll {
        padding: 0px 50px;
      }
      .scroll {
        .scrollIcon {
          height: 40px;
          width: 20px;
          padding: 0px 6px;
        }
        .scrollTitle {
          font-size: 12px;
        }
      }
      .homeProduct1,
      .homeProduct2,
      .homeProduct3,
      .homeProduct4 {
        padding-right: 50px;
        flex-direction: column;
        justify-content: center !important;
        align-items: end !important;
        min-height: 100vh;
        margin: 0px;
        .texts {
          max-width: 100%;
          width: 100%;
          padding-left: 50px;
          h2 {
            font-size: 20px;
            line-height: 35px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
            max-width: 100%;
          }
        }
      }
    }
  }
}
